@*@model BariiLi.Models.AppointmentSystems

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AppointmentSystems</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.typeOfPain)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.typeOfPain)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MTId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MTId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.patientId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.patientId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.availabilityQueues)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.availabilityQueues)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.typeOfPain">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@
