@*@model IEnumerable<BariiLi.Models.AppointmentSystems>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.typeOfPain)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MTId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.patientId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.availabilityQueues)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.typeOfPain)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MTId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.patientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.availabilityQueues)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.typeOfPain">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.typeOfPain">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.typeOfPain">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
