@model IEnumerable<BariiLi.Models.MedicalTeam>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MTId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.specialization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.availability)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.previousExprience)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MTId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.specialization)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.availability)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.previousExprience)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MTId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MTId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MTId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
